@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
  --font-headings;
  --font-body;
  --color-primary;
  --color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

p {
  color: #333333;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

.my-container {
  padding-inline: 10rem;
  margin-inline: auto;
}

.my-background-image {
  background-repeat: no-repeat;
  background-size: 28%;
  /* background-position: right 20px bottom 20px; */
  position: absolute;
  inset: 0;
}

.green-button{
    padding: 0.8rem 2.2rem;
    width: fit-content;
    background-color:#6A9739;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.green-button:hover{
    background-color: #8bc34a;
}

.section-title{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
}
.section-title::after{
    content: "";
    display: block;
    margin: 0 auto 2rem;
    width: 4.7rem;
    height: 5rem;
    background: url("../public/assets/images/imgi_3_logo-leaf-new.png") no-repeat center;
    background-size: contain;
}

@media (max-width: 1200px) {
  .my-container {
    padding-inline: 1.25rem;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 90%;
  }
}